<h2>Edit Profile</h2>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_p}}

    <button type="submit">Save</button>

</form>

<hr>

<h3>Saved Projects</h3>

{% if saved_projects %}
    <ul>
        {% for project in saved_projects %}
            <li>
                <a href="{% url 'project_detail' project.slug %}">
                    {{ project.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No saved projects yet.</p>
{% endif %}