{% extends 'base.html' %}

{% block title %}{{ project.title }} - OneSider {% endblock %}

{% block content %}

<h1> {{ project.title }} </h1>

{% if project.thumbnail %}
    <img src="{{ project.thumbnail.url }}" alt="{{ project.title }}" width="400">
{% endif %}

<p><strong> Type : </strong> {{ project.get_project_type_display }} </p>
<p><strong> Price : </strong> {{ project.price }} </p>

<hr>

<p><strong>Short Description :</strong></p>
<p> {{ project.short_description }} </p>

<hr>

<p><strong>Full Description : </strong></p>
<p> {{ project.description }} </p>

<hr>

<p><strong>Views:</strong> {{ project.views_count }}</p>
<p><strong>Saves:</strong> {{ project.saves_count }}</p>

{% if user.is_authenticated %}
    <form method="post" action="{% url 'toggle_save' project.slug %}">
        {% csrf_token %}
        <button type="submit">
            {% if project in user.profile.saved_projects.all %}
                Unsave
            {% else %}
                Save
            {% endif %}
        </button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}?next={{ request.path }}">Login</a> to save this project.</p>
{% endif %}

{% if user.is_authenticated %}
    {% if has_purchased %}
        <p><b>✅ Purchased</b></p>
    {% else %}
        <form method="post" action="{% url 'buy_project' project.slug %}">
            {% csrf_token %}
            <button type="submit">Buy (Test)</button>
        </form>
    {% endif %}
{% else %}
    <p><a href="{% url 'login' %}?next={{ request.path }}">Login</a> to purchase.</p>
{% endif %}

{% endblock %}