{% extends 'base.html' %}

{% block title %}All Projects - OneSider {% endblock %}

{% block content %}

<h1>All Projects</h1>

{% if projects %}
    <ul>

        {% for project in projects %}

            <li>

                <h3>
                
                    <a href="{% url 'project_detail' project.slug %}">

                        {{ project.title }}
                    
                    </a>
                
                </h3>
                <p> {{ project.short_description }} </p>
                <p> <strong>Type : </strong> {{ project.get_project_type_display }} </p>
                <p> <strong>Price : </strong> {{ project.price }} </p>

                {% if project.thumbnail %}
                    <img src="{{ project.thumbnail.url }}" alt="{{ project.title }}" width="200">
                {% else %}
                    <p>No Thumbnail Available</p>
                {% endif %}

                <hr>

            </li>

        {% endfor %}

    </ul>

{% else %}
    <p>No Projects Yet.</p>
{% endif %}

{% endblock %}